<div header-box>
    <div logo><img src="assets/logo.png" alt=""></div>
    <div menu-list>
        <div> {{'menu1'}}</div>
        <div> {{'menu2'}}</div>
        <div> {{'menu3'}}</div>
        <div> {{'menu4'}}</div>
        <div> {{'menu5'}}</div>
    </div>
    <div right2>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
    <div right>注册/登录</div>
</div>