[header-box] {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    height: 55px;
    border-bottom: 1px solid #ccc;

    [nz-row] {
        height: 45px;
        [full] {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
        }
    }
}

[viewport] {
    position: relative;
    display: flex;
    align-items: center;
}

[logo] {
    position: absolute;
    left: -130px;
    img {
        height: 45px;
    }
}

[menu-list] {
    [item] {
        margin-right: 10px;
        color: #666;
        font-weight: 700;

        &:hover {
            color: #000;
        }
    }
}

[right] {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    [username] {
        margin-left: 10px;
    }
}

// [right2] {
//     position: absolute;
//     right: 120px;
// }
