[header-box] {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
    position: relative;
    [menu-list]{
        display: flex;
    }
}

[logo] {
    position: relative;
    height: 100%;
    padding: 10px;
    outline: none;
    img {
        height: 100%;
    }
}

[right] {
    position: absolute;
    right: 0;
}

[right2] {
    position: absolute;
    right: 120px;
}
