[header-box] {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    height: 55px;
    border-bottom: 1px solid #ccc;

    [nz-row] {
        height: 45px;

        [full] {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
        }
    }
}

[viewport] {
    position: relative;
    display: flex;
    align-items: center;
}

[logo] {
    position: absolute;
    left: -130px;

    img {
        height: 45px;
    }
}

[menu-list] {
    [item] {
        margin-right: 10px;
        color: #666;
        font-weight: 700;

        &:hover {
            color: #000;
        }
    }
}

[right] {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;

    [username] {
        margin-left: 10px;
    }

    &:hover {
        [user-menu] {
            visibility: visible;
        }

    }
}

[user-menu] {
    visibility: hidden;
    width: 120px;
    background: #FFF;
    box-shadow: 0 0 10px #CCC;
    position: absolute;
    top: 44px;
    left: 0;

    [menu-item] {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;

        &:hover {
            background: rgb(0, 142, 224);
            color: #FFF;
        }
    }

}

// [right2] {
//     position: absolute;
//     right: 120px;
// }