<div header-box>
    <div logo [routerLink]="[ '/' ]"><img src="assets/logo.png" alt=""></div>
    <div menu-list>
        <!-- <div item  *ngFor="let item of items"> {{'menuItem'}}</div> -->
    </div>
    <!-- <div right2>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div> -->
    <div right (click)="openAuthModel()">注册/登录</div>
</div>