[thread-detail-page] {
    height: 100%;
}

[post-list] {
    // padding: 10px 0;
    height: calc(100% - 230px);
    width: calc(100% + 7px);
    padding-right: 10px;
    // overflow-y: auto;
    // position: relative;

    ::ng-deep {
        .scrollable-content {
            padding-top: 10px;
            width: calc(100% - 3px);
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #eee;
        border-radius: 5px;
        position: absolute;
    }
}

[post] {
    margin-bottom: 10px;
}

[title] {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
}

[user-info] {
    display: flex;

    [username] {
        margin-left: 10px;
    }

    [date] {
        margin-left: 10px;
        color: #999;
        font-size: 12px;
        margin-top: 4px;
    }
}

[message] {
    margin-left: 50px;
    margin-top: -15px;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
    position: relative;
    word-wrap: break-word;

    [tail] {
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #eeeeee;
        position: absolute;
        top: 0px;
        left: -10px;
    }

    ::ng-deep {
        img {
            max-width: 100%;
            max-height: 500px;
        }

        blockquote {
            padding: 10px;
            border: 1px dashed #666;
            border-radius: 5px;
        }
    }
}

[editor] {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
}