<div thread-detail-page>
    <div nz-row [nzGutter]="10">
        <div nz-col nzMd="18" nzSm="24">
            <div left-box>
                <div top-box>
                    <div nav-box>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div title *ngIf="threadInfo">
                        {{threadInfo.subject}}
                    </div>
                </div>
                <nz-divider></nz-divider>
                <thread-post *uiScroll="let item of datasource;index as i" [item]="item" [num]="i"></thread-post>
            </div>
            <div discuss-bar [ngClass]="{'inpitMode': inputMode}">
                <div btn-box *ngIf="!inputMode && threadInfo">
                    <div btn>
                        <i nz-icon nzType="like" nzTheme="outline"></i>
                        {{threadInfo.recommend_add}}
                    </div>
                    <div btn>
                        <i nz-icon nzType="star" nzTheme="outline"></i>
                        {{threadInfo.favtimes}}
                    </div>
                </div>
                <div input-btn (click)="showInput()">
                    <ng-container *ngIf="!inputMode">
                        <i nz-icon nzType="comment" nzTheme="outline"></i>参加讨论
                    </ng-container>
                    <ng-container *ngIf="inputMode">
                        <simplemde [(ngModel)]="inputValue"></simplemde>
                    </ng-container>
                </div>
                <div class="animated fadeInUp faster btn-box" *ngIf="inputMode">
                    <button close-btn nz-button nzType="default" (click)="inputMode=false">取消</button>
                    <button public-btn nz-button nzType="primary">发表</button>
                </div>
            </div>
        </div>
        <div nz-col nzMd="6" hide-768>
            <div right-box>
                <app-user-card *ngIf="threadInfo" [uid]="threadInfo.authorid"></app-user-card>
            </div>
        </div>
    </div>
</div>

<!-- <div editor id="editor"></div> -->
<!-- </div> -->