<div thread-detail-page>
    <div title *ngIf="items[0]">
        {{items[0].subject}}
    </div>
    <!-- <div post-list> -->
    <virtual-scroller post-list #scroll [items]="items" (vsEnd)="fetchMore($event)" [enableUnequalChildrenSizes]="true">
        <div post *ngFor="let item of scroll.viewPortItems">
            <div user-info>
                <nz-avatar nzSize="large" nzIcon="user"
                    nzSrc="http://arduino.cn/uc_server/avatar.php?uid={{item.authorid}}&size=small"></nz-avatar>
                <div username>{{item.author}}</div>
                <div date>{{item.dateline | fDate}}</div>
            </div>
            <div message>
                <div [innerHTML]="item.message | bbCode"></div>
                <div tail></div>
            </div>
        </div>
        <div style="height:10px"></div>
        <div *ngIf="loading" class="loader">Loading...</div>
    </virtual-scroller>
    <!-- </div> -->

    <div editor id="editor"></div>
</div>