<div recommender-box>
    <div>
        热点推荐
    </div>
    <div item *ngFor="let item of items">
        文章1：积极发挥看门狗作用
        <div num-box>
            <div num>
                <i nz-icon nzType="eye" nzTheme="outline"></i>
                65498
            </div>
            <div num>
                <i nz-icon nzType="message" nzTheme="outline"></i>
                321
            </div>
            <div num>
                <i nz-icon nzType="heart" nzTheme="outline"></i>
                123
            </div>
        </div>
    </div>
</div>