[mid] {
    display: flex;
    justify-content: center;
    background-color: #eee;
    height: calc(100% - 90px);
    padding: 10px;

    [left] {
        width: 270px;
        flex-grow: 0;
    }
    [content] {
        margin: 0 10px;
        padding: 10px;
        background: #fff;
        width: 768px;
        border: 1px solid #eee;
        position: relative;
    }
    [right] {
        width: 270px;
        flex-grow: 0;
    }
}

[notice-box] {
    background-color: #fff;
    padding: 10px;
}

[btn-box] {
    padding: 1px;
    display: flex;
    justify-content: space-between;
    button {
        width: calc(50% - 6px);
    }
}

nz-carousel {
    height: 160px;
    [nz-carousel-content] {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
    }
}
