[header] {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

[footer] {
    // position: sticky;
    // top: 0;
    // z-index: 99;
    // background-color: #fff;
}

[mid] {
    display: flex;
    justify-content: center;
    padding: 10px;
}

[btn-box] {
    padding: 1px;
    display: flex;
    justify-content: space-between;
    button {
        width: calc(50% - 6px);
    }
}
