<div user-card>
    <nz-card>
        <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
        <nz-divider></nz-divider>
        <div user-data>
            <div num-box>
                主题
                <div>1234</div>
            </div>
            <div num-box>
                回复
                <div>54321</div>
            </div>
            <div num-box>
                点赞
                <div>123444</div>
            </div>
            <div num-box>
                关注
                <div>2222</div>
            </div>
            <div num-box>
                粉丝
                <div>1123</div>
            </div>
        </div>
    </nz-card>
</div>