<div user-card>
    <nz-card>
        <div user-info>
            <nz-avatar nzSize="large" nzIcon="user" nzSrc="assets/avatar/avatar2.jpg"></nz-avatar>
            <div user-info-text>
                <div username>coloz</div>
                <div usergrounp>注册用户</div>
            </div>
            <div btn-box>
                <button nz-button nzType="default" nzShape="round" nzSize="small">关注</button>
                <button nz-button nzType="default" nzShape="round" nzSize="small">私信</button>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div user-data>
            <div num-box>
                主题
                <div>1234</div>
            </div>
            <div num-box>
                回复
                <div>54321</div>
            </div>
            <div num-box>
                点赞
                <div>123444</div>
            </div>
            <div num-box>
                关注
                <div>2222</div>
            </div>
            <div num-box>
                粉丝
                <div>1123</div>
            </div>
        </div>
    </nz-card>
</div>