[user-card] {
}

[title] {
    font-weight: 700;
    margin-bottom: 10px;
    color: #666;
}

[user-info] {
    display: flex;
    align-items: center;
    [user-info-text] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40px;
        margin-left: 10px;
        [username] {
            font-size: 18px;
            line-height: 25px;
        }
        [usergrounp] {
            font-size: 12px;
        }
    }
}

[user-data] {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

[num-box] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nz-divider {
    margin: 5px 0;
}

[btn-box] {
    position: absolute;
    right: 0;
    button {
        font-size: 12px;
        margin-right: 10px;
    }
}
