[thread-list-page] {
    position: relative;
}

[thread-list-box] {
    overflow: hidden;
}

[notice-box] {
    background-color: #fff;
    padding: 10px;
}

[right-box] {
    background: #fff;
    padding: 10px;
}

[top-box] {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nz-select {
        width: 100px;
    }
}

[thread] {
    display: flex;
    align-items: center;
    position: relative;
    height: 65px;
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(238, 238, 238, 0);
    transition: background-color 0.3s;

    [title] {
        font-size: 16px;
        color: #111;
        margin-bottom: 5px;
        // white-space: nowrap;
    }

    [info] {
        display: flex;
        align-items: center;
        font-size: 12px;

        nz-tag {
            font-size: 11px;
        }
    }

    [date] {
        color: #999;
    }

    [avatar-box] {
        position: absolute;
        right: 70px;
        display: flex;
        align-items: center;
        app-avatar {
            margin-left: -10px;
            ::ng-deep {
                nz-avatar {
                    border: 1px solid #eee;
                }
            }
        }
        nz-avatar {
            margin-left: -10px;
            border: 1px solid #aaa;
        }
    }

    [num-box] {
        width: 60px;
        position: absolute;
        right: 0;
        color: #999;
        font-size: 12px;
    }

    &:hover {
        background-color: rgba(238, 238, 238, 1);
        cursor: pointer;
    }
}

nz-skeleton {
    height: 65px;
    margin: 5px 0;

    ::ng-deep {
        .ant-skeleton-title {
            margin-top: 5px;
        }
        .ant-skeleton-paragraph {
            margin-top: 13.5px !important;
        }
    }
}
