<div style="margin-bottom: 5px;">标题</div>
<input nz-input placeholder="主题标题" [(ngModel)]="title" />
<div style="margin-top: 10px;margin-bottom: 5px;">内容</div>
<simplemde [(ngModel)]="content"></simplemde>
<div style="margin-top: 10px;margin-bottom: 5px;">标签</div>
<nz-select [nzMaxMultipleCount]="5" [nzOptionOverflowSize]="5" nzMode="tags" nzPlaceHolder="选择标签"
    [(ngModel)]="tags" [nzClearIcon]="closeButton">
    <nz-option *ngFor="let item of tagList" [nzLabel]="item" [nzValue]="item" (click)="selectTag()"></nz-option>
</nz-select>
<ng-template #closeButton>
    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
</ng-template>
<button nz-button nzType="primary" (click)="publish()">发表</button>