[tag-list-box] {
    // display: flex;
    // flex-direction: column;
}

nz-divider{
    margin: 5px 0;
}

[item] {
    padding: 5px 0;
    color: #808080;
    position: relative;
    display: flex;
    align-items: center;
    i{
        width:30px;
    }
    span {
        margin-left: 10px;
        white-space:nowrap;
        &:hover {
            color: rgb(0, 128, 255);
            cursor: pointer;
        }
    }
}

[more]{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    i{
        width:15px;
    }
    &:hover {
        color: rgb(0, 128, 255);
        cursor: pointer;
    }
}
