<div tag-list-box>
    <nz-card>
        <div>所有内容</div>
        <nz-divider nzText="Left Text" nzOrientation="left"></nz-divider>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
        <div>兴趣标签1</div>
    </nz-card>
</div>