<div tag-list-box>
    <nz-card>
        <div item>
            <i nz-icon nzType="home" nzTheme="outline"></i>
            <span>所有内容</span>
            <div more>标签列表<i nz-icon nzType="right" nzTheme="outline"></i></div>
        </div>
        <nz-divider></nz-divider>
        <div item>
            <i nz-icon nzType="send" nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon nzType="send" nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon nzType="send" nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon nzType="send" nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon nzType="send" nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon  nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
        <div item>
            <i nz-icon  nzTheme="outline"></i>
            <span>兴趣标签1</span>
        </div>
    </nz-card>
</div>