/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror.css"; // Editor's Dependency Style
@import "~@toast-ui/editor/dist/toastui-editor.css"; // Editor's Style

body {
    background-color: #eee;
    div{
        outline: none; 
    }
}

.ant-card-body {
    padding: 10px;
}

.ant-tag {
    line-height: 16px;
    opacity: 0.8;
}

@media screen and (max-width: 4096px) {
    [viewport] {
        width: 1920px;
    }
}

@media screen and (max-width: 1920px) {
    [viewport] {
        width: 1024px;
    }
}
