/* You can add global styles to this file, and also import other style files */

@import './editor.scss';

body {
    background-color: #eee;
    overflow-x: hidden;

    div {
        outline: none;
    }
}

.ant-card-body {
    padding: 10px;
}

.ant-tag {
    line-height: 16px;
    opacity: 0.8;
}

.grecaptcha-badge {
    visibility: hidden;
}

@media screen and (max-width: 4096px) {
    [viewport] {
        width: 1024px;
    }
}

@media screen and (max-width: 1920px) {
    [viewport] {
        width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    [hide-768] {
        display: none;
    }
}